<div class="card">
                    <form action="/user/count" method="get">
                    <div class="card-content">
                        <div class="card-name">Data User </div>
                         
                        <p class="number"> <%= results %>  <p>
                    
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-user"></i>
                    </div>
                    </form>  
                </div>